/* Site layout CSS */
.container{

    /* font-family:'Helvetica Neue', sans-serif; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    /* font-weight: 300; */

    /* margin-right: auto; 
    margin-left:  auto;  */
    max-width: 3200px;

    /* padding-right: 10px; 
    padding-left:  10px; */
    
    display: grid;
    /* grid-template-columns: repeat(6,1fr) repeat(2,1fr);
    grid-template-rows: auto minmax(50px,auto) minmax(400px,2fr) minmax(25px,auto) minmax(200px,1fr);
    grid-template-areas: 
            "title title title selections selections selections bars bars"
            "info info info info info info bars bars"
            "orig orig orig processed processed processed panel panel"
            "label label label label label label label label"
            "heatmap heatmap heatmap heatmap heatmap heatmap mini mini"; */
    
    grid-template-columns: repeat(9,minmax(0,1fr));
    grid-template-rows: auto auto  40px minmax(325px,2fr) 95px 30px minmax(200px,0.75fr);
    grid-template-areas: 
            "title title title selections selections selections selections selections selections"
            "title title title bars bars bars bars bars bars"
            "info-1 info-1 info-1 info-2 info-2 info-2 info-3 info-3 info-3"
            "orig orig orig processed processed processed mini mini mini"
            "orig orig orig legend legend legend mini mini mini"
            "label label label label label label label panel panel"
            "heatmap heatmap heatmap heatmap heatmap heatmap heatmap panel panel";
    width: 100vw;
    height: 99vh;
}

/* Setting variables */
:root{
    /* graph borders */
    --border-color: rgba(128, 128, 128, 0.425);
    --border-width: 2px;
    /* dropdown alignment */
    --button-top: 0px;
    --slider-top: 25%;
    --slider-left: 0%;
    /* canvas background */
    /* --canvas-color: #e3e3e3 */
    --canvas-color: white;

}

/* title styling */
.title{
    grid-area: title;
    text-align: left;
    font-size: 35px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 600;
    margin-top:5px;
    margin-left:5px;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    /* border: 1px solid rgb(165, 165, 165);
    border-right: white;
    border-bottom-left-radius: 10px 10px;
    border-top-left-radius: 10px 10px; */
    
    /* font-style: normal; */
}

/* selections div styling */
.selections{
    grid-area: selections;
    padding-left: 80px;
    padding-top: 20px;
    overflow: visible;
    /* border-bottom: var(--border-width) solid var(--border-color); */
    /* border: 1px solid rgb(165, 165, 165);
    border-left: white;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px; */
    /* display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0,1fr) minmax(0,1fr);
    grid-template-areas:
        "alg-bar"
        "encoding-bar";

    overflow: visible; */
}

#alg-bar{
    grid-area: alg-bar;
}

#encoding-bar{
    grid-area: encoding-bar;
}




/* Legend */
.legend{
    grid-area:legend;
    border: var(--border-width) solid var(--border-color);
    background-color: var(--canvas-color);
    border-top: 0px;

}

/* INFO div styling */
.info-1{
    grid-area: info-1;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}
.info-2{
    grid-area: info-2;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}
.info-3{
    grid-area: info-3;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

/* label div styling */
.labels{
    grid-area: label;
    font-size: 25px;
    font-weight: 100;
    
}

/* bars styling */
.bars{
    grid-area: bars;
    padding-left: 10%;
    margin-top: 5px;
    /* border-left: var(--border-width) solid var(--border-color); */
    border-bottom: var(--border-width) solid var(--border-color);
    margin-right: 5px;
    /* border-radius: 10px 10px;
    background-color: var(--canvas-color); */
}

#full-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: left; */
    position: relative;
    /* top: 10px;
    left: 20px; */
    color:gray;
    z-index: 100;
}

#processed-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: center; */
    position: relative;
    /* top: 10px;
    left: 45%; */
    color: gray;
    z-index: 100;
}

#mini-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: center; */
    position: relative;
    /* top: 0px;
    left: 70%; */
    color: gray;
    z-index: 100;
}


#heatmap-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: left; */
    position: relative;
    top: 5px;
    left: 20px;
    color:gray;
    z-index: 100;
}



#instances-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: left; */
    position: relative;
    top: 5px;
    left: -40px;
    color:gray;
    z-index: 100;
    visibility: hidden;
}

/* #panel-label{
    display: inline-block;
    position: relative;
    top: 25%;
    left: 5%;
    color: gray;
} */

/* Graph styling */
#graph-orig{
    position: relative;
    grid-area: orig;
    border: var(--border-width) solid var(--border-color);
    border-right-width: 0px;
    border-bottom-left-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    background-color: var(--canvas-color);
}

#graph-processed{
    position: relative;
    grid-area: processed;
    border: var(--border-width)  solid var(--border-color);
    /* border-left-width: 2px; */
    /* border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px; */
    background-color: var(--canvas-color);
}

#graph-mini{
    position: relative;
    grid-area: mini;
    border: var(--border-width)  solid var(--border-color);
    border-left-width: 0px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    background-color: var(--canvas-color);
}

/* heatmap styling */
#heatmap{
    position: relative;
    grid-area: heatmap;
    /* background-color: rgba(116, 255, 236, 0.363); */
    /* border: var(--border-width)  solid var(--border-color);
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background-color: var(--canvas-color); */
}


.background{
    fill: rgb(255, 255, 255);
}

.row-back{
    fill: rgba(223, 69, 69, 0.76);
    opacity: 0;
}

/* .row{
    fill: rebeccapurple;
} */



/* meta data panel styling */

#data-panel{
    position: relative;
    grid-area: panel;
    /* border: var(--border-width)  solid var(--border-color);
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background-color: var(--canvas-color); */
    margin-top:15px;
    border: var(--border-width) solid var(--border-color);
    border-radius: 10px 10px;
    background-color: var(--canvas-color);

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0,4fr) minmax(0,2fr);
    grid-template-areas:
        "graph-info"
        "heatmap-info";

    overflow: visible;
}

#infobox-graph-processed {
    grid-area: graph-info;
    position: absolute;
    text-align: center;
    /* left: 0px;
    top: 50%; */
    width: 100%;
    height: 100%;
    /* height: auto; */
    padding: 5px;
    background: rgba(255, 255, 255, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;

}

#infobox-graph-orig{
    grid-area: heatmap-info;
    position: absolute;
    text-align: center;
    /* left: 0px;
    top: 0px; */
    width: 100%;
    height: auto;
    padding: 0px;
    background: rgba(221, 109, 109, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;



}


/* #infobox-graph-orig {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 50%;
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
} */

/* #infobox-graph-processed {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0%;
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgba(221, 109, 109, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
} */

#infobox-graph-processed h3{
    margin: 0px;
    padding: 0px;
    font-size: 55px;
    font-weight:bolder;
    color: #484b5a;
}

#infobox-graph-processed p{
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 25px;
    font-weight: lighter;
    color: #81849a;
}

#infobox-graph-orig h3{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    /* line-height: 10px; */
    font-weight:bolder;
    color: #484b5a;
}

#infobox-graph-orig p{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    line-height: 20px;
    font-weight: lighter;
    color: #81849a;
}


/* dropdown stylings */

#button-toolbar{
    top: var(--button-top)
}
/* .data-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.alg-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.uncertainty-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.edge-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}
.node-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}
.invert-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
} */

/* legend styling */

#legend-SVG{
    display: inline-block;
    position: relative;
    /* left: 0%;
    top: 78%; */
    /* height:120px; */
    height:100%;
    width:100%;
    margin:5px;
    margin-left:7px;
}

.caption{
    font-size: 15px;
    font-weight: lighter;
    fill: grey;
}

/* slider styling */

.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* margin-left: 425px; */
    /* margin-right: 50%; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    background: #3484EA;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*background: #D4E157;*/
    /*background: #3484EA;*/
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 250px;
    height: 35px;

}

.slider-label svg text {
    text-anchor: middle;
    font-weight: lighter;
}

/* FILTER */
.slider-f {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* margin-left: 425px; */
    /* margin-right: 50%; */
}

.slider-f::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    background: #3484EA;
    cursor: pointer;
}

.slider-f::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*background: #D4E157;*/
    /*background: #3484EA;*/
    cursor: pointer;
}

.slider-f:hover {
    opacity: 1;
}

.slider-label-f svg {
    width: 250px;
    height: 35px;

}

.slider-label-f svg text {
    text-anchor: middle;
    font-weight: lighter;
}

/* .slider-wrap {
    display: inline-block;
    float: center;
    width: 500px;
    margin-right: 50px;

    position:relative;
    top: 50%;

    padding-top:25px;

} */

.kBar{
    display: inline-block;
    position: relative;
    top: 5px;
    /* left: 25%; */
    font-size: 15px;
    fill: gray;
}

.fBar{
    display: inline-block;
    position: relative;
    top: 5px;
    /* left: 25%; */
    padding-left: 20px;
    font-size: 15px;
    fill: gray;
}

/*End slider styling*/

/* Mini graph styling */


/* Heatmap styling */
/* .cell:hover{
    fill: orange;
} */


/* TUTUORIAL STYLING */
/* #original-tooltip{
    position:absolute;
    left: 450px;
    top: 20px;
    text-align: center;
    width:700px;
    padding: 10px;
    background: rgb(255, 255, 255);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
    font-size: 25px;
} */

#info-tooltip{
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0%;
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgba(221, 109, 109, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
    font-size: 19px;
}


/* color toolbar */

.color-toolbar{
    padding-top: 5px;
    position: relative;
    display: inline-flex;
    left: 100px;
}