/* Site layout CSS */
.container{

    /* font-family:'Helvetica Neue', sans-serif; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    /* font-weight: 300; */

    margin-right: auto; 
    margin-left:  auto; 
    max-width: 3200px;

    /* padding-right: 10px; 
    padding-left:  10px; */
    
    display: grid;
    grid-template-columns: repeat(3,1fr) repeat(3,1fr) 1fr 0.5fr;  /*800px*/
    grid-template-rows: 120px 60px 1fr 0.5fr;
    grid-template-areas: 
            "title title title title selections selections selections selections"
            "info info info info info info info info "
            "orig orig orig processed processed processed panel panel"
            "table table table table table table table table";
    width: 100vw;
    height: 99vh;

}

/* canvas{
    width: auto;
    height: auto;
} */

/* Setting variables */
:root{
    /* graph borders */
    --border-color: rgb(243, 243, 243);
    --border-width: thin;
    /* dropdown alignment */
    --button-top: 20%;
    --slider-top: 25%;
    --slider-left: 18%;
    /* canvas background */
    --canvas-color: #e3e3e3

}

/* title styling */
.title{
    grid-area: title;
    text-align: left;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    /* font-style: normal; */
}

/* selections div styling */
.selections{
    grid-area: selections;
    padding-left: 0px;
}

/* INFO div styling */
.info{
    grid-area: info;
    font-size: 25px;
    font-weight: 100;
    
}

#full-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: left; */
    position: relative;
    top: 25%;
    left: 15%;
    color: gray;
}

#processed-label{
    display: inline-block;
    /* width: 100px; */
    /* text-align: center; */
    position: relative;
    top: 25%;
    left: 40%;
    color: gray;
}

/* #panel-label{
    display: inline-block;
    position: relative;
    top: 25%;
    left: 5%;
    color: gray;
} */

/* Graph styling */
#graph-orig{
    position: relative;
    grid-area: orig;
    border: var(--border-width) solid var(--border-color);
    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    background-color: var(--canvas-color);
}

#graph-processed{
    position: relative;
    grid-area: processed;
    border: var(--border-width)  solid var(--border-color);
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background-color: var(--canvas-color);
}

/* meta data panel styling */

#data-panel{
    position: relative;
    grid-area: panel;
    /* border: var(--border-width)  solid var(--border-color);
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background-color: var(--canvas-color); */
}


#infobox-graph-orig {
    position: relative;
    text-align: center;
    /* left: 995px;
    top: -1360px;
    width: 550px;
    height: 500px;
    padding: 10px; */
    background: rgba(255, 255, 255, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
}

#infobox-graph-processed {
    position: relative;
    text-align: center;
    left: 0px;
    top: 15%;
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgba(221, 109, 109, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
}

#infobox-graph-processed h3{
    margin: auto;
    font-size: 60px;
    font-weight:bolder;
    color: #484b5a;
}

#infobox-graph-processed p{
    margin: auto;
    font-size: 25px;
    font-weight: lighter;
    color: #81849a;
}


/* dropdown stylings */

.data-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.alg-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.uncertainty-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

.edge-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}
.node-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}
.invert-btn-group{
    display: inline-block;
    position: relative;
    top: var(--button-top);
}

/* legend styling */

#legend-SVG{
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 60%;
    height:120px;
    width:100%;
    padding-left:10px;
}

.caption{
    font-size: 15px;
    font-weight: lighter;
    fill: grey;
}

/* slider styling */

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* margin-left: 425px; */
    /* margin-right: 50%; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    background: #3484EA;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*background: #D4E157;*/
    /*background: #3484EA;*/
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 300px;
    height: 35px;

}

.slider-label svg text {
    text-anchor: middle;
    font-weight: lighter;
}

/* .slider-wrap {
    display: inline-block;
    float: center;
    width: 500px;
    margin-right: 50px;

    position:relative;
    top: 50%;

    padding-top:25px;

} */

.kBar{
    display: inline-flex;
    position: relative;
    top: var(--slider-top);
    left: var(--slider-left);
    font-size: 20px;
    fill: gray;
}

/*End slider styling*/

/*year bar stylein*/


/*End year bar styling*/